@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url("/bad-bunny-bg.png");
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    /* backdrop-filter: blur(6px); */
  }
}

/* CSS */
.play-pause-button {
  border: 0;
  background-image: linear-gradient(
    270deg,
    hsl(0deg 0% 75%) 0%,
    hsl(344deg 0% 84%) 9%,
    hsl(344deg 0% 93%) 34%,
    hsl(344deg 0% 93%) 64%,
    hsl(344deg 0% 84%) 89%,
    hsl(0deg 0% 75%) 100%
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 9999px;
  -webkit-box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5,
    0 -1px 2px 1px #efefef;
  -moz-box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5,
    0 -1px 2px 1px #efefef;
  box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px #efefef;
  color: #666;
  font: bold 16px "helvetica neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 12px;
  text-shadow: 0 1px 1px #fff;
}
.play-pause-button:hover {
  background-image: linear-gradient(
    270deg,
    hsl(0deg 0% 70%) 0%,
    hsl(344deg 0% 82%) 20%,
    hsl(344deg 0% 93%) 40%,
    hsl(344deg 0% 93%) 60%,
    hsl(344deg 0% 82%) 80%,
    hsl(0deg 0% 70%) 100%
  );
  -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9,
    0 -1px 2px 1px #e3e3e3;
  -moz-box-shadow: inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9,
    0 -1px 2px 1px #e3e3e3;
  box-shadow: inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9, 0 -1px 2px 1px #e3e3e3;
  cursor: pointer;
}
.play-pause-button:active {
  -webkit-box-shadow: inset 0 0 30px 0 #999999,
    0 1px 0 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

.play-pause-button:focus {
  outline: none;
}

.slider {
  border: 0;
  background-color: #00ff00; /* Green background color */
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #00ff00),
    color-stop(50%, #00dd00),
    color-stop(50%, #00aa00),
    color-stop(100%, #00ff00)
  );
  background-image: -webkit-linear-gradient(
    top,
    #00ff00 0%,
    #00dd00 50%,
    #00aa00 50%,
    #00ff00 100%
  );
  background-image: -moz-linear-gradient(
    top,
    #00ff00 0%,
    #00dd00 50%,
    #00aa00 50%,
    #00ff00 100%
  );
  background-image: -ms-linear-gradient(
    top,
    #00ff00 0%,
    #00dd00 50%,
    #00aa00 50%,
    #00ff00 100%
  );
  background-image: -o-linear-gradient(
    top,
    #00ff00 0%,
    #00dd00 50%,
    #00aa00 50%,
    #00ff00 100%
  );
  background-image: linear-gradient(
    top,
    #00ff00 0%,
    #00dd00 50%,
    #00aa00 50%,
    #00ff00 100%
  );
  border-bottom: 1px solid #00aa00;
  border-right: 1px solid #00ff00;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 9999px;
  -webkit-box-shadow: inset 0 1px 0 0 #00ff00, 0 1px 0 0 #00dd00,
    0 -1px 2px 1px #00ff00;
  -moz-box-shadow: inset 0 1px 0 0 #00ff00, 0 1px 0 0 #00dd00,
    0 -1px 2px 1px #00ff00;
  box-shadow: inset 0 1px 0 0 #00ff00, 0 1px 0 0 #00dd00, 0 -1px 2px 1px #00ff00;
  color: #666;
  font: bold 16px "helvetica neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 12px;
  text-shadow: 0 1px 1px #fff;
}

/* CSS */
.submit-button {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.input-error {
  animation: shake 0.5s;
}
