@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Orbitron", ui-sans-serif, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

.play-pause-button {
  border: 0;
  background-image: linear-gradient(
    270deg,
    hsl(0deg 0% 75%) 0%,
    hsl(344deg 0% 84%) 9%,
    hsl(344deg 0% 93%) 34%,
    hsl(344deg 0% 93%) 64%,
    hsl(344deg 0% 84%) 89%,
    hsl(0deg 0% 75%) 100%
  );
  border-radius: 9999px;
  box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px #efefef;
  color: #666;
  margin: 0;
  padding: 12px;
  text-shadow: 0 1px 1px #fff;
}
.play-pause-button:hover {
  cursor: pointer;
  box-shadow: inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9, 0 -1px 2px 1px #e3e3e3;
}
.play-pause-button:active {
  box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 rgba(255, 255, 255, 0.1);
}
.play-pause-button:focus {
  outline: none;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-8px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(8px);
  }
}
.input-error {
  animation: shake 0.4s;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
